@media only screen and (min-width: 62.5em) {
  body {
    content: 'break(), above, 62.5em'; } }

@media only screen and (min-width: 1000px) {
  body {
    content: 'break(), above, 1000px'; } }

@media only screen and (max-width: 1000px) {
  body {
    content: 'break(), below, 1000px'; } }

@media only screen and (min-width: 1000px) and (max-width: 2000px) {
  body {
    content: 'break(), between, 1000px .. 2000px'; } }

@media only screen and (min-width: 1024px) {
  body {
    content: 'break(), above, "large"'; } }

@media only screen and (max-width: 1024px) {
  body {
    content: 'break(), below, "large"'; } }

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  body {
    content: 'break(), between, "medium" .. "large"'; } }

@media only screen and (min-width: 1000px) {
  body {
    content: 'above(), 1000px'; } }

@media only screen and (max-width: 1000px) {
  body {
    content: 'below(), 1000px'; } }

@media only screen and (min-width: 1000px) and (max-width: 2000px) {
  body {
    content: 'between(), 1000px .. 2000px'; } }

@media only screen and (orientation: landscape) {
  body {
    content: 'landscape()'; } }

@media only screen and (orientation: portrait) {
  body {
    content: 'portrait()'; } }
