//
// Hyphenate long words
// http://justmarkup.com/log/2015/07/dealing-with-long-words-in-css
//
@mixin hyphenate {
	overflow-wrap: break-word;
	    word-wrap: break-word;
	-webkit-hyphens: auto;
	    -ms-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
}
