//
// Image replacement #1
// Needs to be applied to a `block` or `inline-block` element
// http://css-tricks.com/examples/ImageReplacement/#kellum
//
@mixin ir(  ) {
	text-indent: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	*text-indent: -9999px !important; // IE 6/7 fallback
}
