//
// Responsive background images that maintain their aspect ratio
// :: ( $width: value, $height: value, $url: ?value, $size: ?value )
//
// @param  {number}  $width   width of image file
// @param  {number}  $height  height of image file
// @param  {string}  $url     image url
// @param  {number}  $size    % width of the parent the image should occupy
//
@mixin responsive-background-image( $width, $height, $url: false, $size: 100% ) {
	display: block;
	width: $size;
	height: 0;
	padding-bottom: $height/$width * $size; // the magic

	background-size: 100%;
	background-image: url('#{$url}');
	background-position: 0 0;
	background-repeat: no-repeat;
}
