//
// Text Overflow Ellipsis
// Note: This requires the element to be block or inline-block.
// @link  stackoverflow.com/a/9931634
// @example  `.dot-dot-dot { @include text-ellipsis; }`
//
@mixin text-ellipsis(  ) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
