//
// Text overflow ellipsis
// Note: This requires the element to be block or inline-block.
// http://stackoverflow.com/a/9931634
//
@mixin text-ellipsis(  ) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
