//
// Easy vertical centering of anything in IE9+
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css
//
@mixin vertical-center( $includeWidth: true ) {
	@if $includeWidth {
		width: 100%;
	}
	position: absolute;
	top: 50%;
	transform: translateY( -50% );
}
